


	/*inscription*/
	#h1ins{
		text-align: center;
		font-size: 25px;
		margin-top: 125px;
		padding: 25px;

	}


	/*admin*/

	.ligneA{
	border: solid;
    width: 420px;
    margin: 7px;

	}

	.liP{
		cursor: pointer;
	}

	#contadminmodif{
		width: 30%;
    	

	}

	#contadminstaff{
    width: 30%;
    overflow: scroll;
    max-height: 346px;
	}

	#contadminuser{
		width: 30%;
   		overflow: scroll;
   		max-height: 346px;
	}

	#searchBox{
		width: 100%;
	}


	/*moderateur*/
 #nav{
 	height:148px;
 }
 #navbarnav{
 	justify-content: center;
 	font-size: 25px;
 }
	#containmodo{
    height: 51%;
    min-height: 50%;
    text-align: center;
    max-height: 50%;
	}
	#contreserv1{
    overflow: scroll;
    max-width: 49%;
    max-height: 88%;

	}

		#contreserv2{
    overflow: scroll;
    max-width: 49%;
    max-height: 88%;
	}